* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1E2D3B;
}
.container {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.boxDischi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    height: 800px;
    margin: 0 auto;
}
.boxCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px; 
    height: 380px;
    background-color: #2D3A46;
}
.boxImage {
    width: 200px; 
    height: 200px;
}
img {
    width: 200px; 
    height: 200px;
}
.boxText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 130px;
    text-align: center;
}
h3 {
    color:white;
    font-weight: 900;
    text-transform: uppercase;
}
p {
    color: gray;
}
